body{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    background-color: rgb(33, 33, 33);
}

input{

    border-radius: 5px;

}
.caixa{

    box-sizing: border-box;

    background-color: rgb(72, 23, 61);

    border-radius: 5px;

    box-shadow: 50px;

    width: 60vh;
}

